
/* CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/* Grid layout*/

body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    height: 100vh;
    margin: 0;
}
    
.nav { 
    background-color: black;
    grid-area: 1 / 1 / 2 / 7;
}
.content { 
    background-color: lightcoral;
    grid-area: 2 / 1 / 10 / 7;
}
.footer { 
    background-color: black;
    grid-area: 10 / 1 / 11 / 7; 
}

/* Content background image styling */

#content-background{
    background-image: url(https://i.ibb.co/6rLVzGm/background-img.png);
    background-size: cover;
}

/* Logo positioning to the center */
#logo{
  background-image: url("https://ibb.co/k0V9j3x");
  position: absolute;
}
#logo-size{
    max-height: 25vh;
    margin-left: 41.5vw;
}

/* header styling */
#header{
    position: absolute;
    font-family: 'Covered By Your Grace', cursive;
    color: black;
}

#header-size{
    margin-top: 10vh;
    margin-left: 56vw;
}

#root {
  position: relative;
  z-index: 5;
  margin-top: 18vw;
}

.add-btn {
  background-color:#080808;
  color: #fff;
  outline: none;
  text-align: center;
  height: 55px;
  width: 55px;
  padding: 10px;
  position: relative;
  float: right;
  margin-right: 28vw;
  opacity: 0.8;
  border-radius: 50%;
  filter: alpha(opacity=95);
}

.add-btn:hover {
  border: solid black 5px;
  background-color: #fff;
  filter: alpha(opacity=90);
  color: black;
}

.minus-btn {
  background-color:#080808;
  color: #fff;
  outline: none;
  text-align: center;
  height: 55px;
  width: 55px;
  padding: 10px;
  position: relative;
  float: left;
  margin-left: 28vw;
  opacity: 0.8;
  border-radius: 50%;
  filter: alpha(opacity=95);
}

.minus-btn:hover {
  border: solid black 5px;
  background-color: #fff;
  filter: alpha(opacity=90);
  color: black;
}

.switcher {
  display: inline;
}

#villain-pic {
  box-sizing: border-box;
  border: 10px solid #fff;
}

