
/* CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/* Grid layout*/

body {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    height: 100vh;
    margin: 0;
}
    
.nav { 
    background-color: black;
    grid-area: 1 / 1 / 2 / 7;
}
.content { 
    background-color: lightcoral;
    grid-area: 2 / 1 / 10 / 7;
}
.footer { 
    background-color: black;
    grid-area: 10 / 1 / 11 / 7; 
}

/* Content background image styling */

#content-background{
    background-image: url(https://i.ibb.co/6rLVzGm/background-img.png);
    background-size: cover;
}

/* Logo positioning to the center */
#logo{
  background-image: url("https://ibb.co/k0V9j3x");
  position: absolute;
}
#logo-size{
    max-height: 25vh;
    margin-left: 41.5vw;
}

/* header styling */
#header{
    position: absolute;
    font-family: 'Covered By Your Grace', cursive;
    color: black;
}

#header-size{
    margin-top: 10vh;
    margin-left: 56vw;
}