/* CSS reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

/* Grid layout*/

body {
  height: 100vh;
  margin: 0;
  min-height: 2463px;
  background-color: black;
}

#real_body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(30, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  height: 100vh;
  margin: 0;

  min-height: 2463px;
  background-color: black;
}

.nav {
  background-color: black;
  grid-area: 1 / 1 / 2 / 7;
  /* max-height: 50%; */
}
.content {
  background-image: url(https://i.ibb.co/6rLVzGm/background-img.png);
  background-size: cover;

  /*background-color: lightcoral; */
  grid-area: 2 / 1 / 10 / 7;
}
.footer {
  background-color: black;
  grid-area: 10 / 1 / 11 / 7;
  color: white;
}

.second-header {
  grid-area: 11 / 1 / 12 / 7;
  background-color: black;
}
.second-content {
  grid-area: 12 / 1 / 20 / 7;
}
.second-footer {
  grid-area: 20 / 1 / 21 / 7;
  background-color: black;
}

.third-header {
  grid-area: 21 / 1 / 22 / 7;
  background-color: black;
}
.third-content {
  grid-area: 22 / 1 / 30 / 7;
  background-color: lightgreen;
}
.third-footer {
  grid-area: 30 / 1 / 31 / 7;
  background-color: black;
}

/* Content background image styling */

.App {
  background-size: cover;
}

/* Logo positioning to the center */
#logo {
  background-image: url("https://ibb.co/k0V9j3x");
  position: absolute;
}
#logo-size {
  max-height: 25vh;
  margin-left: 41.5vw;
}

/* header styling */
#header {
  position: absolute;
  margin-top: 1%;
  font-family: "Covered By Your Grace", cursive;
  color: black;
}

#header-size {
  margin-top: 10vh;
  margin-left: 56vw;
}

/* Arrow - footer*/

#arrow {
  margin-left: 48vw;
  margin-top: 25px;
  color: #fff;
}

/* Second page */
#second-content-background {
  background-image: url(https://i.ibb.co/TtCvSry/gotham.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0 6%, 100% 0, 100% 94%, 0 100%);
}

/* Third page */

#third-content-background {
  background-image: url(https://i.ibb.co/pQPX3bx/city.png);
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 94%);
}

/* Cards */

.cards {
  display: flex;
  justify-content: space-around;
  font-family: "Covered By Your Grace", cursive;

  animation-duration: 2s;
  animation-name: slide_right;
}

@keyframes slide_right {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.card {
  flex: 0 1 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.918);
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 16px;
  text-align: center;
  height: 452px;
  width: 100px;
  margin-top: 15vh;
}

.card:hover {
  background-color: white;
  margin-top: 14.5vh;
}

/* Character card styling */

#character-card {
  /* background-image: url("images/character.jpg"); */
  border-style: solid;
  border-color: black;
  background-color: rgba(248, 248, 248, 0.7);
}

#character-name {
  position: relative;
  font-family: "Covered By Your Grace", cursive;
  font-size: x-large;
  background-color: rgba(248, 248, 248, 0.1);
}

#character-card-picture {
  border: solid #fff;
  border-radius: 5px;
  min-height: 350px;
}

#character-name-p {
  margin-top: 2%;
  padding: 0;
  border: solid;
  border-width: thin;
  background-color: rgba(248, 248, 248, 0.8);
  border-radius: 5px;
}

/* Description card styling */

#description-card {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
  flex-basis: 100%;
  flex: 0 1 20%;
  background-color: rgba(248, 248, 248, 0.7);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.918);
  border: solid;
  border-radius: 5px;
  padding: 16px;
  text-align: center;
  height: 452px;
  width: 100px;
  margin-top: 15vh;
}

#description-container {
  background-color: rgba(248, 248, 248, 0.7);
  margin-bottom: 5%;
  margin-top: 5%;
  border: solid;
  border-width: thin;
  border-radius: 5px;
}

#description-name {
  font-family: "Covered By Your Grace", cursive;
  background-color: rgba(248, 248, 248, 0.1);
  max-height: 340px;
  font-size: medium;
}

#description-title-container {
  background-color: rgba(248, 248, 248, 0);
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-end;
}

#character-description-p {
  text-align: center;
  padding-top: 3%;
  border: solid;
  border-width: thin;
  border-radius: 5px;
  background-color: rgba(248, 248, 248, 0.8);
  height: 40px;
  font-size: large;
  font-weight: bold;
}

/* Power card styling */

#power-card {
  border-style: solid;
  background: rgba(248, 248, 248, 0.7);
}

#power-image {
  background-repeat: no-repeat;
  background-size: 500px 200px;
}

#power-name {
  font-family: "Covered By Your Grace", cursive;
  margin-top: 2vh;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  background-color: white;
}

#power-description {
  margin-top: 0;
  font-size: large;
  border: solid;
  border-width: thin;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(248, 248, 248, 0.8);
}

#power-name {
  background-color: rgba(248, 248, 248, 0.8);
}

#power-p {
  font-size: large;
  font-weight: bold;
  height: 15px;
  margin-top: 2%;
  padding-top: 1%;
}

/* Enemy card styling & Special card animation */

.flip3D > .front {
  position: absolute;
  transform: perspective(600px) rotateY(0deg);

  /* background-image: url("images/card.png"); */
  background-size: cover;

  flex: 0 1 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.918);
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 16px;
  text-align: center;
  height: 452px;
  width: 285px;
  margin-top: 15vh;

  backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
}
.flip3D > .back {
  position: relative;
  transform: perspective(600px) rotateY(180deg);

  flex: 0 1 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.918);
  font-family: "Covered By Your Grace", cursive;

  /* Enemy card styling */

  border-style: solid;
  border-color: black;
  border-radius: 5px;
  padding: 16px;
  text-align: center;
  height: 452px;
  width: 285px;
  margin-top: 15vh;
  background-color: rgba(248, 248, 248, 0.7);

  backface-visibility: hidden;
  transition: transform 0.5s linear 0s;
}

#enemy-name {
  font-family: "Covered By Your Grace", cursive;
  background-color: white;
  opacity: 0.8;
}

#villain-enemy-pic {
  box-sizing: border-box;
  border: solid #fff 5px;
  border-width: thin;
  border-radius: 5px;
}

#enemy-name-p {
  border-style: solid;
  border-width: thin;
  border-radius: 5px;
  margin-top: 2%;
  padding: 2%;
  font-size: medium;
  font-weight: bold;
}

.flip3D:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}
.flip3D:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

/* Villain gallery part */

#root {
  position: relative;
  z-index: 5;
}

.add-btn {
  background-color: #080808;
  color: #fff;
  outline: none;
  text-align: center;
  height: 55px;
  width: 55px;
  padding: 10px;
  position: relative;
  margin-top: 30%;
  margin-right: 28vw;
  opacity: 0.8;
  border-radius: 50%;
  filter: alpha(opacity=95);
}

.add-btn:hover {
  border: solid black 5px;
  background-color: #fff;
  filter: alpha(opacity=90);
  color: black;
}

.minus-btn {
  background-color: #080808;
  color: #fff;
  outline: none;
  text-align: center;
  height: 55px;
  width: 55px;
  padding: 10px;
  position: relative;
  margin-top: 30%;
  margin-left: 28vw;
  opacity: 0.8;
  border-radius: 50%;
  filter: alpha(opacity=95);
  align-self: baseline;
}

.minus-btn:hover {
  border: solid black 5px;
  background-color: #fff;
  filter: alpha(opacity=90);
  color: black;
}

#villain-pic {
  box-sizing: border-box;
  border: solid #fff;
}

#villain-card-name {
  position: relative;
  min-width: 200px;
  min-height: 100px;
  font-weight: bold;
  font-size: x-large;
}

#flexbox-container {
  display: inline;
  justify-content: center;
}

#villain-pic-box {
  display: inline;
  text-align: center;
  justify-content: center;
}

.gallery-container {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.minus {
  margin-right: 2%;
  padding-right: 5%;
}

.the-pic {
  padding-right: 5%;
  margin-top: 2%;
}

.plus {
  padding-left: 3%;
}

.select {
  position: absolute;
  margin-top: 9%;
  font-size: 45px;
  font-family: "Covered By Your Grace", cursive;
}

#char-name {
  text-align: center;
  font-family: "Covered By Your Grace", cursive;
  font-size: 120%;
}

#char-name-p {
  border: solid black 2px;
  background-color: #fff;
}
